<% include ../partials/header.ejs %>
<div class="ui horizontal divider">
<div>
<h1 class="drinkName"><%= drink.drink_name %></h1>
<img src='<%= drink.image_link%>' alt="drink name" class="img">
<div class="commentsDiv">
    <h2>Comments</h2>
   <% drink.comments.forEach(function(comment){ %>
    <p><%= comment.comment %></p>
<% }) %> 
<a href="#"><button id='addComment' class="ui button">Add Comment</button></a>
<div id='commentForm'class="ui form">
    <form id="newCommentForm">
    <div class="field">
        <label>Add your comment</label>
        <textarea id="commentText"></textarea>
    </div>
    <button id="submitComment" class="ui button" type="submit">Submit Comment</button>
    </form>
</div>
<div class="raitingDiv">
<% var ratingCount =[];%>
<% var ratingFor = [];%>
<% drink.ratings.forEach(function(rating){ %>
    <%  ratingCount.push(rating.rating); %>
        <% if(rating.rating === true) { %>
        <% ratingFor.push(rating.rating); %>
    <% } %>
<% }) %>
<h2>Ratings</h2>
<a href="#"><i class="fa fa-thumbs-up fa-3x" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-thumbs-down fa-3x" aria-hidden="true"></i></a>

<p>Total Ratings: <%= ratingCount.length %></p>

<p>Rating:  <%= ratingFor.length %></p>
</div>
</div>

</div>


<% include ../partials/footer.ejs %>
